<p id="notice"><%= notice %></p>

<h1>Group Events</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start</th>
      <th>Duration</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_events.each do |group_event| %>
      <tr>
        <td><%= group_event.user %></td>
        <td><%= group_event.starts %></td>
        <td><%= group_event.duration %></td>
        <td><%= group_event.name %></td>
        <td><%= group_event.description %></td>
        <td><%= group_event.location %></td>
        <td><%= link_to 'Show', group_event %></td>
        <td><%= link_to 'Edit', edit_group_event_path(group_event) %></td>
        <td><%= link_to 'Destroy', group_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Event', new_group_event_path %>
