<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group_event.user %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @group_event.starts %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @group_event.duration %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group_event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group_event.location %>
</p>

<%= link_to 'Edit', edit_group_event_path(@group_event) %> |
<%= link_to 'Back', group_events_path %>
